body{
    background-color: black;
}
.card{
    margin-left: 60%;
    margin-right: 10%;
    margin-top: 5%;
    padding: 20px;
    border: 2px solid black;
    background-color: white;
    border-radius: 15px;
    height: 400px;
}

.four-button{
    display: grid;
    column-gap: 5px;
    grid-row-gap: 5px;
    grid-template-columns: repeat(2, 1fr);
    
    background-color: white;
}

button{
    width: 170px;
    background-color: white;
    border-radius: 7px;
    height: 40px;
}



.panel{
    display: flex;
    column-count: 2;

}
